@import 'tailwindcss';
@import 'tw-animate-css';

@layer base {
  body {
    background-color: #fafafa;
    color: #374151;
    scrollbar-width: thin;
    scrollbar-color: #e5e7eb transparent;
  }
}

